@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");

#navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  border: solid 1px black;
  background-color: black;
}

.options {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 2%;
}

.options h3 {
  padding-left: 30px;
  padding-right: 10px;
}
a {
  color: aliceblue;
}
#data {
  display: grid;

  grid-template-columns: 48% 48%;
  text-align: center;
  width: 90%;
}

#data img {
  width: 50%;
  height: 150px;
}
#searchBar {
  padding-top: 3%;
  color: white;
}
#logo_img {
  width: 130px;
  height: 100px;
  border-radius: 50px;
  padding: auto;
}
#logo {
  margin-left: -15%;
  font-family: "MonteCarlo", cursive;
  color: white;
}
#names {
  border: 1px solid rgb(83, 83, 83);
  width: 99%;
  width: 250px;
}
#names > div {
  border: 1px solid rgb(83, 83, 83);
}
#query {
  width: 252px;
}
#names > div:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}
